.App {
  text-align: center;
  
}

.character-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.image{
  height: 100px;
}
.name, .catchPhrase{
  font-size: 15px;
}
.editButton{
  display: block;
  margin-left: 25px;
  /* margin-bottom: 5px; */
  /* align-items: center; */
  /* background-color: green; */
}
.windowButton{
  margin-bottom: 10px;
}
.associates{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.friends{
  width: 50%;
}
.enemies{
  width: 50%;
  text-align: center;
}