.App {
  text-align: center;
}

.character-card {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.image{
  height: 100px;
}
.name, .catchPhrase{
  font-size: 15px;
}
.button{
  display: block;
  /* align-items: center; */
}